<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap"
      rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Fjalla+One&display=swap"
      rel="stylesheet" />
    <title>DevBurger</title>
  </head>
  <body>
    <!-- Cardapio DevBurguer e formulario pra sugerir novos lanches -->
    <header>
      <div class="header">
        <div class="logo">
          <a href="/" class="logo-link">DevBurger</a>
        </div>
        <div class="menu-header">
          <a href="/" class="menu-link">Lanches</a>
          <a href="/#sugestao" class="menu-link">Sugestão</a>
          <a href="/contato" class="menu-link">Contato</a>
        </div>
      </div>
    </header>
    <main>
      <div class="cardapio">
        <div class="card">
          <h3 class="card-title">X-Burger</h3>
          <p class="card-desc">Pão, hambúrguer, queijo, alface, tomate, maionese
          </p>
        </div>
        <div class="card">
          <h3 class="card-title">X-Bacon</h3>
          <p class="card-desc">Pão, hambúrguer, bacon, queijo, alface, tomate, maionese
          </p>
        </div>
        <div class="card">
          <h3 class="card-title">X-Egg</h3>
          <p class="card-desc">Pão, hambúrguer, ovo, queijo, alface, tomate, maionese
          </p>
        </div>
        <div class="card">
          <h3 class="card-title">X-Salada</h3>
          <p class="card-desc">Pão, hambúrguer, queijo, alface, tomate, maionese, cenoura
          </p>
        </div>
      </div>
      <div class="sugestao" id="sugestao">
        <form action="/sugestao" method="GET" class="form">
          <div class="duos">
            <label for="nome">Nome do Lanche:</label>
            <textarea id="nome" name="nome" rows="2" class="input-area"></textarea>
          </div>
          <div class="duos">
            <label for="ingredientes">Ingredientes</label>
            <textarea id="ingredientes" name="ingredientes" rows="2" class="input-area"></textarea>
          </div>
          <button type="submit" class="btn-enviar">Enviar</button>
        </form>
      </div>
      <div class ="contato">
        <div class="card">
          <a href="/contato" class="btn-contato">Nos contate!</a>
          </p>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
